@font-face {
  font-family: vodafone;
  src: url("../fonts/Vodafone\ Light.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: vodafone;
  background-color: #b60606;
}

/* Sign up form */
.sign-up-form {
  width: 280px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
  padding: 10px;
  margin: 8% auto 8%; /* For demonstration purposes, to put in middle of screen */
  text-align: center;
  border-radius: 10px;
}

/* Vodafone Icon */
img {
  width: 70px;
}

/* Error message */
.error {
  color: red;
}

/* first 4 input boxes */
.input-box {
  /* text-align: center; */
  border-radius: 10px;
  padding: 10px 15px;
  margin: 7px 0;
  border: 1px solid #999;
  box-shadow: 0 0 5px 0 rgba(63, 63, 63, 0.3);
  width: 100%;
  box-sizing: border-box; /* to ensure the width is within the container*/
}

.select {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin: 7px 0;
  border: 1px solid #999;
  cursor: pointer;
  box-shadow: 0 0 5px 0 rgba(63, 63, 63, 0.3);

  /* Replace default styling (the arrow) */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23666666;"/></svg>');
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
  background-size: 10px;
}

/* Password Strength*/
#password-strength {
  display: none;
  padding: 0 15px;
  margin: 0%;
  font-size: 0.8em;
  font-weight: bold;
}

/* Dropdown list */
.select:hover {
  border: 1px solid black;
}
.select option {
  background-color: white;
}

/* Terms and condition checkbox */
.checkbox {
  cursor: pointer;
}

/* Sign up and Log in button */
.log-in-button,
.sign-up-button {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #b60606;
  background-color: #b60606;
  padding: 10px 0;
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 0 10px 0 rgba(63, 63, 63, 0.3);
}

/* Line between sign up and log in */
hr {
  margin-top: 20px;
  width: 80%;
}

/* LOG IN PAGE */
/* Text on top of username and password box */
.sign-in-text {
  text-align: left;
  margin: 5% 0% 0% 1%;
  font-weight: bold;
}

#email-error {
  color: red;
}

#password-error {
  color: red;
}

/* Log in button */
.log-in-button {
  margin: 7% 0% 0%;
}

@media (min-width: 400px) {
  .sign-up-form {
    width: 380px;
  }
}
